* {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* header related styles */

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  margin-bottom: 150px;
}

.header-title {
  font-size: 80px;
  color: #272727;
  margin-bottom: 35px;
}

.header-paragraph {
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 35px;
}

.btn-primary {
  background-color: #e55473;
  color: white;
  padding: 20px 43px 20px 43px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}

.header-image {
  width: 635px;
  height: 800px;
}

/* main > featured flowers section related styles  */

main {
  padding: 50px;
  margin-bottom: 150px;
}
.featured-flowers {
  text-align: center;
  margin-bottom: 125px;
}

.featured-title {
  font-size: 40px;
  color: #272727;
}

.featured-para {
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
}

.featured-imgs-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.featured-imgs-1 {
  background-color: rgba(167, 33, 98, 0.15);
  border: none;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  padding: 70px 60px 0px 60px;
}

.featured-imgs-2 {
  background-color: rgba(71, 125, 17, 0.15);
  border: none;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  padding: 70px 60px 0px 60px;
}

/* ICONS HERE */

.featured-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 125px;
}

.featured-icons > p {
  color: #272727;
  font-size: 24px;
}

/* Hot deals related styles */

.hot-deals-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 125px;
}

/* Instagram section related styles */

.instagram-container {
  margin-bottom: 125px;
  text-align: center;
}
.instagram-imgs {
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 50px;
}

/* latest deals related styles */

.latest-deals-container {
  background-image: url("/Flower Asset/Rectangle 9.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 122px 250px 122px 250px;
  width: 800px;
  text-align: center;
}
